@if (employee) {
<div>

    <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>

    <p><b>ID:</b> {{ employee.id }}</p>
    <p><b>Email:</b> {{ employee.email }}</p>

    <p><b>Entry Date:</b> {{ employee.entryDate || '—' }}</p>
    <p><b>Exit Date:</b> {{ employee.exitDate || '—' }}</p>

    <p><b>Department:</b> {{ employee.department }}</p>

    <p><b>Skills:</b></p>
    @if (employee.skills?.length) {
    <ul>
        @for (skill of employee.skills; track skill.skillId) {
        <li>{{ skill.skillName }}</li>
        }
    </ul>
    } @else {
    <p>No skills assigned.</p>
    }

</div>
} @else {
<p>Loading...</p>
}